@using ASP.NetCoreMVC_SchoolSystem.DTO
@model IEnumerable<GradeDTO>

<div class="text-center">
	<h1 class="my-5">List of all grades</h1>
	@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Teacher")))
	{
				 <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center my-5">
					<!-- První karta -->
					<div class="col d-flex">
						<div class="card flex-fill text-center p-3 h-100 border-dark rounded shadow bg-primary bg-opacity-10">
							<div class="card-body d-flex flex-column justify-content-between">
								<h5 class="card-title text-wrap">Create new grade</h5>
								<form asp-action="Create" method="get" class="d-flex flex-column align-items-center justify-content-center mx-auto w-25">
									<button type="submit" class="btn btn-warning w-100">Create</button>
								</form>
							</div>
						</div>
					</div>

					<!-- Druhá karta -->
					<div class="col d-flex">
						<div class="card flex-fill text-center p-3 h-100 border-dark rounded shadow bg-primary bg-opacity-10">
							<div class="card-body d-flex flex-column justify-content-between">
								<h5 class="card-title text-wrap">Upload list of grades</h5>
								<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Upload" class="d-flex flex-column align-items-center mt-3 w-100">
									<input type="file" name="file" class="form-control mb-3" />
									<div class="w-25 mx-auto">
										<input type="submit" value="Upload" class="btn btn-warning w-100" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
	}
	<table class="table table-primary table-striped rounded shadow">
		<thead>
			<tr>
				<th scope="col">Student</th>
				<th scope="col">Subject</th>
				<th scope="col">Topic</th>
				<th scope="col">Mark</th>
				<th scope="col">Date</th>
				@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Principal")))
				{
					<th scope="col">Action</th>	
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<th scope="row">@item.StudentName</th>
					<td>@item.SubjectName</td>
					<td>@item.Topic</td>
					<td>@item.Mark</td>
					<td>@item.Date</td>
					@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.IsInRole("Principal")))
					{
						<td>
							<div class="d-flex align-items-center justify-content-center gap-2">
								<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
								<form method="post">
									<button type="submit" class="btn btn-danger" asp-action="Delete" 
									asp-route-id="@item.Id">Delete</button>
								</form>
							</div>
						</td>	
					}
				</tr>
			}
		</tbody>
	</table>
</div>
