@using ASP.NetCoreMVC_SchoolSystem.DTO
@model IEnumerable<StudentDTO>

<div class="container text-center">
	<h1 class="my-5">List of Students</h1>
	@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Principal") || User.IsInRole("Teacher")))
	{
		<a asp-action="Create" class="btn btn-warning my-3 text-center">Create new student</a>	
	}
	@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Principal")))
	{
		<h3 class="my-4">Upload list of students</h3>
		<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Upload" class="my-4">
			<div>
				<input type="file" name="file" class="my-3"/>
				@*pozor, na name je zavisle jmeno parametru, cili souboru predavaneho do controlleru. Pokud se parametr ukládací metody v StudentContolleru jmenuje file, musi i name inputu byt file*@
			</div>
			<div>
				<input type="submit" value="Upload" class="btn btn-secondary" />
			</div>
		</form>	
	}
	<table class="table table-primary table-striped">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">First Name</th>
				<th scope="col">Last Name</th>
				<th scope="col">Date of Birth</th>
				<th scope="col">Action</th>
			</tr>
		</thead>
		<tbody>
				@foreach (var item in Model)
				{
				<tr>
				  <th scope="row">@item.Id</th>
				  <td>@item.FirstName</td>
				  <td>@item.LastName</td>
				  <td>@item.DateOfBirth.ToString()</td>
				  <td>
					  <div class="d-flex align-items-center justify-content-center gap-2">
						  <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
						  <form method="post">
							  <button type="submit" class="btn btn-danger" asp-action="Delete" 
							  asp-route-id="@item.Id">Delete</button>
						  </form>
					  </div>
				  </td>
				</tr>
				}
		</tbody>
	</table>
</div>

